@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

.btn {
    margin-top: 2em;
    width: 250px;
    padding: 0;
    border: none;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 3px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgb(14, 116, 144);
}
  
.btn span {
    background: #f1f5f8;
    font-size: 1.75em;
    color: #1b1b1b;
    display: block;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
}

.btn:active {
      padding-bottom: 0px;
      outline: 0;
}
    
.btn:hover{
    transform: translateY(5px);
    background-color: rgb(22, 78, 99);
}


.scribble-btn {
    margin-top: 2em;
    width: 150px;
    padding: 0;
    border: none;
    transform: rotate(4deg);
    transform-origin: center;
    font-family: "Gochi Hand", cursive;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 3px 0 #494a4b;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgb(14, 116, 144);
}
  
.scribble-btn span {
    background: #f1f5f8;
    font-size: 1.75em;
    color: #1b1b1b;
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: 2px solid #f9f9f9;
}

.scribble-btn:active {
      padding-bottom: 0px;
      outline: 0;
}
    
.scribble-btn:hover{
    transform: translateY(5px);
    background-color: rgb(22, 78, 99);
}

.hero-height{
    height: calc(100vh - 5rem - 4rem);
}
